<!-- <nav class="" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
       
            <span class="material-symbols-outlined ms-5" id="logo">
                diversity_3
                </span> 
               
         </a>
      <h6 id="navtext">Executive Dashboard</h6>
     <a href=""> <span class="material-symbols-outlined" id="seicon">
        settings
        </span></a>
        <a href=""><span class="material-symbols-outlined ms-4">
            person
            </span></a>
    </div>
  </nav>  -->

  <nav class="navbar navbar-expand navbar-dark  px-2" id="navbar">
    <div class="side-nav-button p-2 me-3 text-light" (click)="sidebarToggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand " href="#">
      <span class="material-symbols-outlined ms-5" id="logo">
      diversity_3
      </span> 
    </a>
    <h6 loading-text="Diversity" >Diversity</h6>
    <h5 id="navtext">ExecutiveDashboard</h5>

    <a href=""> <span class="material-symbols-outlined" id="seicon">
      settings
      </span></a>
      <a href=""><span class="material-symbols-outlined ms-4">
          person
          </span></a>

  </nav>