 <div class="side-nav-content">
   

    <div class="text-dark">

        <span (click)="display()">
            <i class="fa-solid fa-house ms-2 mt-5 fa-1x" ></i>         
              <h6 style="display: inline;" class="ms-5">Home</h6>
        </span>
    </div>
    <div class="text-dark">
        <span>
            <i class="fa-solid fa-toolbox ms-2 mt-5 fa-1x" ></i>         
              <h6 style="display: inline;" class="ms-5">Settings</h6>
        </span>

    </div>

    <div class="text-dark">
        <span>
            <i class="fa-solid fa-calendar-days ms-2 mt-5 fa-1x" ></i>         
              <h6 style="display: inline;" class="ms-5">Calendar</h6>
        </span>

    </div>

 </div>