
<div class="row">
  
</div>


<div class="row">



     <div class="col-3">
        <span>
            2001 2007
             
         </span>
     </div> 


    <div class="col-6">

        <marquee style="margin-left: 240px;" width="60%" direction="down" height="100px">
            <h5 style="color: red;"><b>Visualization of Series 1&2</b></h5>
            </marquee>
       
            <div class="row">

                <div class="s1"><h6 class="ms-3 mt-5"><b>Series-1 %</b></h6></div>
                <div class="s2"><h6 class="ms-3 mt-5"><b>Series-2 %</b></h6></div>
              
  
            </div>
            
           
       <div class="one">
        <h6 style="text-align: end;">44</h6>
                <div class="one2">      
                      <h6 style="text-align: end;">53</h6>
                </div>
        
               </div>
      


       <div class="two">
        <h6 style="text-align: end;">55</h6>


        <div class="two22">        
            <h6 style="text-align: end;">32</h6>
        </div>

       </div>
     
       
       <div class="three">
        <h6 style="text-align: end;">41</h6>

        <div class="three1">
            <h6 style="text-align: end;">33</h6>

        </div>
       </div>

       <div class="four">
        <h6 style="text-align: end;">64</h6>

        <div class="four1">      
              <h6 style="text-align: end;">52</h6>
        </div>
       </div>

       <div class="five">
        <h6 style="text-align: end;">22</h6>

        <div class="five1">       
             <h6 style="text-align: end;">13</h6>
        </div>
       </div>

       <div class="six">
        <h6 style="text-align: end;">43</h6>

        <div class="six1">       
             <h6 style="text-align: end;">44</h6>
        </div>
       </div>

       <div class="seven">
        <h6 style="text-align: end;">21</h6>

        <div class="seven1">       
             <h6 style="text-align: end;">32</h6>
        </div>
       </div>


       <div class="final">
       <h6>Series-1</h6>
        <div class="se1"></div>
        <h6 class="ms-1">Series-2</h6>
        <div class="se2"></div>
       </div>
     
    </div>


     <div class="col-3"></div> 




</div>